.container {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
}

.form__title-label {
    font-size: 24px;
    display: flex;
}

.form__title-input {
    font-size: 24px;
    width: 400px;
}

.form__title-input:invalid {
    border: 1px solid lightcoral;
}

.hidden {
    display: none;
}

.search-result__error {
    color: lightcoral;
}
